

<link rel="stylesheet" href="stylesheets/mystyle.css">


<h1> Go Team!</h1>
<br>
<br>
<br>
<img src="images/IMG_7502.jpeg" alt="Stoddard Meigs" style="width:500px;" class="element">

<p>Stoddard</p>
<br><br><br><br>
<img src="images/IMG_7690.JPG" alt="Janelle" style="width:500px;" class="element">

<p>Janelle</p>
<br><br><br><br>
<img src="images/IMG_7691.JPG" alt="Olivia" style="width:500px;" class="element">

<p>Olivia</p>
<br><br><br><br>
<img src="images/IMG_7692.JPG" alt="Stephen" style="width:500px;" class="element">

<p>Stephen</p>
<br><br><br><br>
<img src="images/IMG_7693.JPG" alt="Fabio" style="width:500px;" class="element">

<p>Fabio</p>
<br><br><br><br>