<h1> Go Team!</h1>

<img src="images/IMG_7502.jpeg" alt="Stoddard Meigs">
<p>Stoddard</p>
<img src="images/IMG_7690.JPG" alt="Janelle">
<p>Janelle</p>
<img src="images/IMG_7691.JPG" alt="Olivia">
<p>Olivia</p>
<img src="images/IMG_7692.JPG" alt="Stephen">
<p>Stephen</p>
<img src="images/IMG_7693.JPG" alt="Fabio">
<p>Fabio</p>